#onepage-checkout-shipping-method-additional-load{ border-top: 1px solid #1010101f; background: #00000002; padding: 10px; margin: 0px 0px 20px; width: 100%; float: left; border-bottom: 1px solid #1010101f;}
.delivery-date-wrap{padding-bottom: 20px;}
.delivery-date-wrap a{padding-bottom: 20px;}